@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'grid';

/* purgecss start ignore */

body {
  position: relative;
  font-family: $font-sen;
  color: $white;
  background-color: $black;
  line-height: 1.4;
  overflow-y: scroll;

  @include customScrollbar;

  @include media('large') {
    cursor: none;
  }

  [data-cursor] {
    cursor: pointer;
  }

  :focus {
    outline: none;
  }

  &.disable-scroll {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

svg, 
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  color: $red;
  text-decoration: none;

  &,
  &::before,
  &::after {
    transition: .15s;
  }
}

h1, 
h2 {
  font-size: 24px;
  font-weight: 500;

  @include media('small-and-medium') {
    font-size: 20px;
  }
}

#nprogress {
  pointer-events: none;

  .bar {
    background: $red;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }

  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $red, 0 0 5px $red;
    opacity: 1.0;
    transform: rotate(3deg) translate(0px, -4px);
  }
}

.highlight {
  @include highlight($red);
}

.image {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background-size: cover;
  transition: background-image .15s;

  &.lazy:not(.lazy-loaded) {
    @include noise;
  }
}

.wrapper {
  overflow-x: hidden;
}

.content {
  margin: 100px 0;
  min-height: calc(100vh - 230px);

  @include media('small-and-medium'){
    margin: 80px 0;
  }

  @include media('large') {
    padding-top: 20px;
  }
}

@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: 3px solid rgba($white, 0.1);
  border-top: 3px solid $red;
  animation: rotating 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

// Header

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to top, rgba($black, 0) 0%, rgba($black, 0.5) 50%, $black 100%);
  pointer-events: none;

  .row {
    align-items: center;
    justify-content: space-between;
    height: 100px;

    @include media('small-and-medium') {
      height: 80px;
    }
  }

  a {
    display: flex;
  }

  .logo {
    display: block;
    pointer-events: all;

    &-wrapper {
      display: inline-flex;
    }

    @include media('small-and-medium') {
      display: block;
    }
  
    img {
      width: 286px;
      height: 30px;

      @include media('small-and-medium') {
        width: 220px;
        height: 23px;
      }
    }
  }

  .hashes {
    position: absolute;
    display: block;
    font-size: 10px;
    letter-spacing: -.3px;
    margin-top: 3px;
    pointer-events: all;

    @include media('small-and-medium') {
      display: none;
    }
  }

  .burger {
    display: block;
    position: relative;
    margin-left: auto;
    background: none;
    border: none;
    padding: 0;
    height: 40px;
    width: 40px;
    pointer-events: all;

    &__icon {
      position: absolute;
      height: 18px;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    &__line {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 40px;
      height: 4px;
      background-color: $white;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: transform .3s;

      &:last-child {
        margin-top: 14px;
      }
    }

    &.active {
      .burger__line {
        transform-origin: center 50% 0px;

        &:first-child {
          transform: matrix(0.7, -0.7, 0.7, 0.7, 0, 7);
        }

        &:last-child {
          transform: matrix(0.7, 0.7, -0.7, 0.7, 0, -7);
        }
      }
    }
  }
}

// Menu

.menu {
  display: flex;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: radial-gradient(
    circle at center,
    rgba($black, 0.9) 0%,
    $black 100%
  );
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility 0s .3s;

  &.active {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s, visibility 0s;
  }

  &-content {
    flex: 1;
    overflow-y: scroll;
  
    @include customScrollbar;
  }
  
  .search {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility 0s .3s;

    @include media('large') {
      max-width: 50%;
    }
  }

  &.active {
    .search {
      visibility: visible;
      opacity: 1;
      transition: opacity .3s .15s, visibility 0s;
    }
  }
  
  .search-input {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    padding-top: 80px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, rgba($black, 0) 0%, rgba($black, 0.9) 20%, $black 100%);

    @include media('large') {
      padding-top: 100px;
    }
  
    input {
      flex: 1;
      font-family: $font-montserrat;
      cursor: text;
      caret-color: $red;
      color: $white;
      border: none;
      background: none;
      appearance: none;
      padding: 8px 24px 8px 2px;
      border-bottom: 1px solid $red;
      text-overflow: ellipsis;
      font-size: 18px;
  
      &::placeholder {
        font: inherit;
        font-style: italic;
        color: $white;
        opacity: 1;
      }
    }
  
    svg {
      position: absolute;
      bottom: 15px;
      right: 0;
      pointer-events: none;
      width: 16px;
    }

    .loader {
      position: absolute;
      right: 0;
      bottom: 15px;
      width: 20px;
      height: 20px;
      border-width: 2px;
    }
  }
  
  .search-results {
    margin-bottom: 60px;
    padding: 0 2px;

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  
    .result {
      display: block;
      margin: 0 auto;
      color: $white;
      font-size: 18px;

      span {
        transition: .3s;
      }
  
      &:hover {
        @media (hover: hover) {
          color: $red;

          span {
            // Override marked keywords color
            color: $red !important;
          }
        }
      }
    }
  }
}

// Footer

.footer {
  position: fixed;
  z-index: 8;
  bottom: 0;
  left: 0;
  font-size: 14px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, $black 100%);
  pointer-events: none;

  @include media('small-and-medium') {
    position: initial;
    margin-top: -80px;
  }

  .row {
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
    padding-bottom: 30px;

    @include media('small-and-medium') {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }

    @include media('large') {
      & > div:last-child {
        text-align: right;
      }
    }
  }

  span {
    pointer-events: all;
  }

  a {
    position: relative;
    color: $white;
    pointer-events: all;

    em {
      font-style: normal;
      color: $red;
      transition: color .3s;
    }

    &:hover em {
      @media (hover: hover) {
        color: $white;
      }
    }
  }
}

// Error

.error {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 40px 15px;
  text-transform: uppercase;
  
  h1 {
    font-size: 4.4vw;
    line-height: 1;
    text-align: center;

    &::first-line {
      color: $red;
      font-size: 16vw;
    }

    @include media('small') {
      font-size: 8.8vw;

      &::first-line {
        font-size: 32vw;
      }
    }
  }
}

// Posts Feed

.posts-feed {
  .row {
    width: 100%;
    justify-content: center;

    @include media('small-and-medium') {
      justify-content: flex-start;
    }

    @include media('large') {
      transition: .3s;
    }

    .fun-quote {
      display: flex;
      align-items: flex-end;
      height: 100%;
      font-size: 16px;
      padding: 15px 15px 10px;
      line-height: 1.6;

      @include noise;

      h2 {
        font-size: 16px;
        transition: .3s;
      }

      span {
        @include highlight($black);
      }
    }
  }

  .post-preview {
    position: relative;

    @include media('large') {
      overflow: hidden;
      transition: .3s;
    }

    .layer {
      @include layer;

      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px 40px 10px 15px;
    }

    h2 {
      font-size: 16px;
      line-height: 1.6;
      max-width: 240px;
      transition: .3s;

      @include media('large') {
        font-size: 11px;
        max-width: 165px;
        opacity: 0;
        transform: scale(.6);
      }
    }

    &.muted {
      @include media('large') {
        opacity: .5;
        z-index: 1;
      }
    }

    &.active {
      @include media('large') {
        opacity: 1;
        transform: scale(1.3);
        z-index: 2;
        box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.6);
      }

      h2 {
        @include media('large') {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

.menu-active {
  .post-preview,
  .fun-quote {
    h2 {
      opacity: 0;
    }
  }
}

// Post

.post {
  line-height: 1.6;

  @include media('large') {
    display: flex;
  }

  .image {
    @include media('large') {
      flex-shrink: 0;
      margin: 0 20px 0 0;
      width: 50%;
      padding-bottom: 30%;
    }
  }

  .post-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    padding-left: 5px;
    margin-left: -5px;
  }

  h2 {
    max-width: 500px;
    margin: 20px 0;
  }

  h3 {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;

    &:first-of-type {
      order: -1;
      margin: 20px 0 -10px;

      @include media('large') {
        margin-top: 0;
      }
    }
  }

  p, 
  a, 
  ul {
    font-family: $font-montserrat;
    font-weight: 300;
    font-size: 16px;
  }

  p {
    text-align: justify;
    margin: 0px auto 20px;

    @include media('small') {
      text-align: left;
    }
  }

  a {
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba($red, 0);
    font-size: 16px;

    &:hover {
      @media (hover: hover) {
        color: rgba($red, .4);
      }
    }

    span:first-child {
      color: $red;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px -4px;

    li {
      margin-right: 1em;

      a {
        display: inline-block;
        color: $white;
        padding: 0 .3em .1em;
        border: 1px solid $red;
        transition: background-color .3s;

        &:hover {
          @media (hover: hover) {
            background-color: $red;
          }
        }
      }
    }
  }
}
