@mixin layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin highlight($color) {
  background-color: $color;
  padding: 0 0 .1em;
  box-shadow: .3em 0 0 $color, -.3em 0 0 $color;
}