@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'grid';

body {
  position: relative;
  font-family: $font-sen;
  color: $white;
  background-color: $black;
  line-height: 1.4;
  overflow-y: scroll;

  @include customScrollbar;

  :focus {
    outline: none;
  }

  [data-cursor] {
    cursor: pointer;
  }
}

svg, 
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}

a {
  color: $red;
  text-decoration: none;

  &,
  &::before,
  &::after {
    transition: .15s;
  };
}

h1, 
h2 {
  font-size: 24px;
  font-weight: 500;

  @include media('small-and-medium') {
    font-size: 20px;
  }
}

.highlight {
  @include highlight($red);
}

.image {
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 60%;
  background-size: cover;
  transition: background-image .15s;

  &.lazy:not(.lazy-loaded) {
    @include noise;
  }
}

.wrapper {
  overflow-x: hidden;
}

.content {
  margin: 100px 0;
  min-height: calc(100vh - 230px);

  @include media('small-and-medium'){
    margin: 80px 0;
  }

  @include media('large') {
    padding-top: 20px;
  }
}

// Header

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, $black 100%);

  .row {
    align-items: center;
    justify-content: space-between;
    height: 100px;
  }

  .logo {
    display: inline-block;
  
    img {
      height: 30px;
    }
  }

  .hashes {
    position: absolute;
    display: block;
    font-size: 10px;
    letter-spacing: -.3px;
    margin-top: 3px;
  }

  .burger {
    display: block;
    position: relative;
    margin-left: auto;
    background: none;
    border: none;
    padding: 0;
    height: 40px;
    width: 40px;

    &__icon {
      position: absolute;
      height: 18px;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
    }

    &__line {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 40px;
      height: 4px;
      background-color: $white;
      transform: matrix(1, 0, 0, 1, 0, 0);
      transition: transform .3s;

      &:last-child {
        margin-top: 14px;
      }
    }

    &.active {
      .burger__line {
        transform-origin: center 50% 0px;

        &:first-child {
          transform: matrix(0.7, -0.7, 0.7, 0.7, 0, 7);
        }

        &:last-child {
          transform: matrix(0.7, 0.7, -0.7, 0.7, 0, -7);
        }
      }
    }
  }
  @include media('small-and-medium') {
    .row {
      height: 80px;
    }

    .hashes {
      display: none;
    }

    .logo {
      display: block;

      img {
        height: 23px;
      }
    }
  }
}

// Footer

.footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  font-size: 14px;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%, $black 100%);

  .row {
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
    padding-bottom: 30px;
  }

  span {
    a {
      position: relative;
      color: $white;

      em {
        font-style: normal;
        color: $red;
      }
    }
  }

  @include media('large') {
    span:last-child {
      text-align: right;
    }
  }

  @include media('small-and-medium') {
    position: initial;
    margin-top: -80px;

    .row {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
    }
  }
}

// Facts

.facts-strip {
  .row {
    width: 100%;
    justify-content: center;

    @include media('small-and-medium') {
      justify-content: flex-start;
    }

    .fun-quote {
      display: flex;
      align-items: flex-end;
      height: 100%;
      font-size: 16px;
      padding: 15px 15px 10px;
      line-height: 1.6;

      @include noise;

      span {
        @include highlight($black);
      }
    }
  }

  .fact {
    position: relative;

    .layer {
      @include layer;

      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 15px 40px 10px 15px;
    }

    h4 {
      line-height: 1.6;
      max-width: 240px;
    }
  }

  @include media('large') {
    .row,
    .fact,
    .fact h4 {
      transition: .3s;
      transition-property: transform, opacity, box-shadow;
      will-change: transform, opacity, box-shadow;
    }

    .fact {
      overflow: hidden;

      h4 {
        font-size: 11px;
        max-width: 165px;
        opacity: 0;
        transform: scale(.6);
      }

      &.muted {
        opacity: .5;
        z-index: 1;
      }

      &.active {
        opacity: 1;
        transform: scale(1.3);
        z-index: 2;
        box-shadow: 0 0 30px 20px rgba(0, 0, 0, 0.6);

        h4 {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
}

// Post

.post {
  line-height: 1.6;

  .data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    padding-left: 5px;
    margin-left: -5px;
  }

  h2 {
    max-width: 500px;
    margin: 20px 0;
  }

  p, 
  a, 
  ul {
    font-family: $font-montserrat;
    font-weight: 300;
  }

  p {
    text-align: justify;
    margin: 0px auto 20px;
  }

  h4 {
    color: $white;
    font-size: 12px;
    text-transform: uppercase;

    &:first-child {
      margin: 20px 0 -10px;
    }
  }

  a {
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    color: rgba($red, 0);

    &:hover {
      color: rgba($red, .4);
    }

    :first-child {
      color: $red;
    }
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 20px -5px;

    li {
      display: inline-block;
      margin-right: 1em;
      padding: 0 .3em .1em;
      border: 1px solid $red;
      transition: background-color .3s;

      &:hover {
        background-color: $red;
      }
    }
  }

  @include media('small') {
    p {
      text-align: left;
    }
  }

  @include media('large') {
    display: flex;

    .image {
      flex-shrink: 0;
      margin: 0 20px 0 0;
      width: 50%;
      padding-bottom: 30%;
    }

    h4:first-child {
      margin-top: 0;
    }
  }
}

// Additional style for large screens

@include media('large') {
  body {
    cursor: none;
  }

  .screen-flow {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    transform: translate(-50%);
    z-index: 10;
    pointer-events: none;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      height: 100%;
      width: 20px;
      background-image: linear-gradient(to top, $white 10px, rgba(0, 0, 0, 0) 10px);
      background-size: 100% 20px;
      background-repeat: repeat-y;
    }

    &::before {
      left: -30px;
    }

    &::after {
      right: -30px;
    }
  }
}
